<div class="row">
  <div class="input-field col s6 offset-s3" >
    <h1>Новый пароль</h1>
    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}
    <form action="/auth/password/" method="post">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">
      <input id="password" name="password" type="password" class="validate" required>
      <label for="password">Введите новый пароль</label>
      <span class="helper-text" data-error=""></span>
      <button class="btn" type="submit">Обновить пароль</button>
    </form>
  </div>
</div>